apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - instance.yaml

patches:
  - target:
      group: kro.run
    patch: |-
      - op: replace
        path: /spec/namespace
        value: spoke1-infrastructure
  - target:
      group: kro.run
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: spoke1-infrastructure
