apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Override namespace for all resources
namespace: spoke1-infrastructure

resources:
  # Namespace is now created by Terraform with proper annotations
  # - ./namespace.yaml
  - ../../../../instance-library/aws/graph-of-graphs/vpc.yaml

labels:
  - pairs: {spoke: spoke1, deployed-by: kustomize}
    includeSelectors: false
