apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Namespace is created by Terraform with proper annotations
  - github.com/indiana-university/gen3-kro//argocd/.gen3-spoke-templates/aws-generic-commons-and-bucket?ref=test-kro-graphs

patches:
  - target:
      group: kro.run
    patch: |-
      - op: replace
        path: /spec/namespace
        value: spoke1-infrastructure
  - target:
      group: kro.run
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: spoke1-infrastructure
