apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Spoke1 infrastructure - uses test flavor (VPC only)
resources:
  - ../../../graphs/instances/gen3/test

configMapGenerator:
  - name: test-values
    behavior: merge
    envs:
      - values.env
    options:
      disableNameSuffixHash: true

labels:
  - pairs:
      spoke: spoke1
      deployed-by: kustomize
