apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
  - ./namespace.yaml
  - ./vpc-instance.yaml


labels:
  - pairs: {spoke: spoke1, deployed-by: kustomize}
    includeSelectors: false
