apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/jayadeyemi/Gen3-Kro-Demo//a-vpc-deployment?ref=main

# Override spec.namespace
patches:
  - target:
      group: kro.run
    patch: |-
      - op: replace
        path: /spec/namespace
        value: spoke2-infrastructure
  - target:
      group: kro.run
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: spoke2-infrastructure
