apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../csoc/_kustomize_flavors/gen3-aws-dev

configMapGenerator:
  - name: spoke-values
    behavior: merge
    envs: [values.env]
    # merge behavior at level-2 allows example to override base values

replacements:
  # Sync Wave Annotations
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.sync_wave_namespace}
    targets: [{select: {kind: Namespace}, fieldPaths: [metadata.annotations.argocd\.argoproj\.io/sync-wave]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.sync_wave_vpc}
    targets: [{select: {kind: Vpc}, fieldPaths: [metadata.annotations.argocd\.argoproj\.io/sync-wave]}]

  # Common Fields
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.namespace_name}
    targets:
      - {select: {kind: Namespace}, fieldPaths: [metadata.name]}
      - {select: {kind: Vpc}, fieldPaths: [metadata.namespace]}
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.region}
    targets:
      - {select: {kind: Vpc}, fieldPaths: [spec.region]}

  # VPC
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_metadata_name}
    targets: [{select: {kind: Vpc}, fieldPaths: [metadata.name]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_name}
    targets: [{select: {kind: Vpc}, fieldPaths: [spec.name]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_cidr}
    targets: [{select: {kind: Vpc}, fieldPaths: [spec.cidr.vpcCidr]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_public_subnet1_cidr}
    targets: [{select: {kind: Vpc}, fieldPaths: [spec.cidr.publicSubnet1Cidr]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_public_subnet2_cidr}
    targets: [{select: {kind: Vpc}, fieldPaths: [spec.cidr.publicSubnet2Cidr]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_private_subnet1_cidr}
    targets: [{select: {kind: Vpc}, fieldPaths: [spec.cidr.privateSubnet1Cidr]}]
  - source: {kind: ConfigMap, name: spoke-values, fieldPath: data.vpc_private_subnet2_cidr}
    targets: [{select: {kind: Vpc}, fieldPaths: [spec.cidr.privateSubnet2Cidr]}]

labels:
  - pairs: {spoke: spoke-1, deployed-by: kustomize}
    includeSelectors: false
